body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: purple;
    color: yellow;
}

section{
    display: flex;
    padding: 20px;
}

.submenu{
    width: 1750px;
    text-align: end;
}


.separacao{
    margin: 10px;
    padding: 20px;
    border-color: yellow;
    border: solid;
}

.capitulo{
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

#navbar{
    border-color: yellow;
    border: solid;
    display: flex;
    height: 140px;
    align-content: center;
    margin: 30px;
    padding: 20px;
}

#title{
    font-size: 50px;
}

.caixa{
    padding: 50px;
    background-color: yellow;
    color: purple;
}